[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb
[submodule "libs/loguru"]
	path = libs/loguru
	url = https://github.com/emilk/loguru
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
